<ion-header>
  <ion-navbar color="danger">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      {{'ADDRESSSEARCH' | translate}}
    </ion-title>
  </ion-navbar>
  <ion-searchbar no-padding [(ngModel)]="query" (ionInput)="searchPlace()"></ion-searchbar>
  <ion-list>
   <ion-item  tappable *ngFor="let place of places" (touchstart)="selectPlace(place)">{{place.description}}</ion-item>
 </ion-list>
</ion-header>

<ion-content>

  <agm-map
  [fitBounds]="mapBounds"
  [latitude]="mapLatitude"
  [longitude]="mapLongitude"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="true"
  [streetViewControl]="false"
  (mapReady)="mapReady($event)">

    <agm-marker-cluster [maxZoom]="18" imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">
      <agm-marker *ngFor="let marker of meetingList "
      [latitude]="marker.latitude"
      [longitude]="marker.longitude"
      [iconUrl]="'assets/img/marker-na.png'">
        <agm-info-window>
          <h1>{{marker.meeting_name}}</h1>
          <p><b>
            <div ngSwitch="{{ marker.weekday_tinyint }}">
              <div *ngSwitchCase="'1'" [ngClass]="'one'">
                <ion-badge color="Green">{{'SUNDAY' | translate }}</ion-badge> {{ marker.start_time }}
              </div>
              <div *ngSwitchCase="'2'" [ngClass]="'one'">
                <ion-badge color="Teal">{{'MONDAY' | translate }}</ion-badge> {{ marker.start_time }}
              </div>
              <div *ngSwitchCase="'3'" [ngClass]="'one'">
                <ion-badge color="Lime">{{'TUESDAY' | translate }}</ion-badge> {{ marker.start_time }}
              </div>
              <div *ngSwitchCase="'4'" [ngClass]="'one'">
                <ion-badge color="Purple">{{'WEDNESDAY' | translate }}</ion-badge> {{ marker.start_time }}
              </div>
              <div *ngSwitchCase="'5'" [ngClass]="'one'">
                <ion-badge color="Brown">{{'THURSDAY' | translate }}</ion-badge> {{ marker.start_time }}
              </div>
              <div *ngSwitchCase="'6'" [ngClass]="'one'">
                <ion-badge color="Pink">{{'FRIDAY' | translate }}</ion-badge> {{ marker.start_time }}
              </div>
              <div *ngSwitchCase="'7'" [ngClass]="'one'">
                <ion-badge color="Orange">{{'SATURDAY' | translate }}  </ion-badge>  {{ marker.start_time }}
              </div>
          	  <div *ngSwitchDefault>??</div>
          </div>
            </b></p>
          <div *ngIf="marker.location_text ">{{marker.location_text}}<br></div>
          <div *ngIf="marker.location_street ">{{marker.location_street}}<br></div>
          <div *ngIf="marker.location_city_subsection ">{{marker.location_city_subsection}}<br></div>
          <div *ngIf="marker.location_neighbourhood ">{{marker.location_neighbourhood}}<br></div>
          <div *ngIf="marker.location_municipality ">{{marker.location_municipality}}<br></div>
          <div *ngIf="marker.location_sub_province ">{{marker.location_sub_province}}<br></div>
          <div *ngIf="marker.location_province ">{{marker.location_province}}<br></div>
          <div *ngIf="marker.location_code_1 ">{{marker.location_code_1}}<br></div>
          <div *ngIf="marker.location_info ">{{marker.location_info}}<br></div>
          <div *ngIf="marker.comments ">{{marker.comments}}<br></div>
          <div *ngIf="marker.contact_phone_1 ">{{marker.contact_phone_1 | tidyDelimter }}<br></div>
          <div *ngIf="marker.contact_email_1 ">{{marker.contact_email_1 | tidyDelimter }}<br></div>
          <div *ngIf="marker.train_lines ">{{'TRAIN' | translate }}: {{marker.train_lines | tidyDelimter }}<br></div>
          <div *ngIf="marker.bus_lines ">{{'BUS' | translate }}: {{marker.bus_lines | tidyDelimter }}<br></div>
          <div *ngIf="marker.formats"><i>{{'FORMATS' | translate }} {{ marker.formats | tidyDelimter }}</i><br></div>
          <div>{{'DISTANCE' | translate }}: <i>{{ marker.distance_in_miles | number:'1.1-1'  }} {{'MILES' | translate }}, {{ marker.distance_in_km | number:'1.1-1'  }} {{'KMS' | translate }} </i><br></div>
          <button ion-button small (click)="openMapsLink(marker.latitude , marker.longitude)"><ion-icon name="ios-navigate-outline"></ion-icon>&nbsp;{{'MAP' | translate }}</button>
        </agm-info-window>
      </agm-marker>
    </agm-marker-cluster>


    <agm-marker
    [latitude]="mapLatitude"
    [longitude]="mapLongitude"
    [markerDraggable]="false">
      <agm-info-window>
        <p>{{ query }}</p>
      </agm-info-window>
    </agm-marker>

    <agm-circle #circle
      [latitude]          = "mapLatitude"
      [longitude]         = "mapLongitude"
      [radius]            = "circleRadiusMeters"
      [fillColor]         = "'red'"
      [fillOpacity]       = "0.25"
      [circleDraggable]   = "false"
      [editable]          = "false"
      (radiusChange)      = radiusChange($event)>
    </agm-circle>

  </agm-map>

</ion-content>

<ion-footer no-padding>
  <ion-toolbar no-padding>


    <ion-range id="RadiusRange" min="5" max="50" [(ngModel)]="autoRadius" (ionBlur)="getMeetings()" color="danger" pin="true">
      <ion-label range-left>5 {{'MEETINGS' | translate }}</ion-label>
      <ion-label range-right>50 {{'MEETINGS' | translate }}</ion-label>
    </ion-range>

  </ion-toolbar>
</ion-footer>
