<ion-header>
  <ion-navbar color="danger">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <div *ngIf="areaName != '' ; else BMLT_List">
      <ion-title>{{ areaName }}</ion-title>
        <button ion-button small (click)="showServiceStructure()">Back</button>
    </div>
    <ng-template #BMLT_List>
      <ion-title>{{'LISTFULL' | translate}} </ion-title>
    </ng-template>

  </ion-navbar>
</ion-header>

<ion-content no-padding>

  <div *ngIf="HTMLGrouping == 'areas'">

    <div *ngFor="let L1 of serviceGroupHierarchy; let i = index">
      <div *ngIf="L1.childServiceGroup;else L1_no_children">
        <ion-item-divider color="blue1" (click)="toggleL1Group(i)" [ngClass]="{active: isL1GroupShown(i)}">
          <h3>{{ L1.name }}</h3>
          <ion-icon color="white" item-left [name]="isL1GroupShown(i) ? 'close-circle' : 'add-circle'"></ion-icon>
        </ion-item-divider>
      </div>
      <ng-template #L1_no_children>
        <ion-item-divider color="blue1" (click)="getMeetingsByArea(L1.id, L1.name)">
          <h3>{{ L1.name }} </h3>
          <ion-icon color="white" item-left name="arrow-dropright-circle"></ion-icon>
        </ion-item-divider>
      </ng-template>

      <div *ngIf="isL1GroupShown(i)">
        <div *ngFor="let L2 of L1.childServiceGroup; let j = index">
          <ion-grid>
            <ion-row>
              <ion-col col-1></ion-col>
              <ion-col col-11>
                <div *ngIf="L2.childServiceGroup;else L2_no_children">
                  <ion-item-divider color="blue2" (click)="toggleL2Group(j)" [ngClass]="{active: isL2GroupShown(j)}">
                    <h3>{{ L2.name }}</h3>
                    <ion-icon color="white" item-left [name]="isL2GroupShown(j) ? 'close-circle' : 'add-circle'"></ion-icon>
                  </ion-item-divider>
                </div>
                <ng-template #L2_no_children>
                  <ion-item-divider color="blue2" (click)="getMeetingsByArea(L2.id, L2.name)">
                    <h3>{{ L2.name }}</h3>
                    <ion-icon color="white" item-left name="arrow-dropright-circle"></ion-icon>
                  </ion-item-divider>
                </ng-template>
              </ion-col>
            </ion-row>
          </ion-grid>

          <div *ngIf="isL2GroupShown(j)">
            <div *ngFor="let L3 of L2.childServiceGroup; let k = index" [ngClass]="{active: isL3GroupShown(j)}">
              <ion-grid>
                <ion-row>
                  <ion-col col-2></ion-col>
                  <ion-col col-10>
                    <div *ngIf="L3.childServiceGroup;else L3_no_children">
                      <ion-item-divider color="blue3" (click)="toggleL3Group(k)" [ngClass]="{active: isL3GroupShown(k)}">
                        <h3>{{ L3.name }}</h3>
                        <ion-icon color="white" item-left [name]="isL3GroupShown(k) ? 'close-circle' : 'add-circle'"></ion-icon>
                      </ion-item-divider>
                    </div>
                    <ng-template #L3_no_children>
                      <ion-item-divider color="blue3" (click)="getMeetingsByArea(L3.id, L3.name)">
                        <h3>{{ L3.name }}</h3>
                        <ion-icon color="white" item-left name="arrow-dropright-circle"></ion-icon>
                      </ion-item-divider>
                    </ng-template>
                  </ion-col>
                </ion-row>
              </ion-grid>

              <div *ngIf="isL3GroupShown(k)">
                <div *ngFor="let L4 of L3.childServiceGroup; let l = index" [ngClass]="{active: isL4GroupShown(k)}">
                  <ion-grid>
                    <ion-row>
                      <ion-col col-3></ion-col>
                      <ion-col col-9>
                        <div *ngIf="L4.childServiceGroup;else L4_no_children">
                          <ion-item-divider color="blue4">
                            <h3>{{ L4.name }}</h3>
                            <ion-icon color="white" item-left [name]="isL1GroupShown(i) ? 'close-circle' : 'add-circle'"></ion-icon>
                          </ion-item-divider>
                        </div>
                        <ng-template #L4_no_children>
                          <ion-item-divider color="blue4" (click)="getMeetingsByArea(L4.id, L4.name)">
                            <h3>{{ L4.name }}</h3>
                            <ion-icon color="white" item-left name="arrow-dropright-circle"></ion-icon>
                          </ion-item-divider>
                        </ng-template>
                      </ion-col>
                    </ion-row>
                  </ion-grid>

                  <div *ngFor="let L5 of L4.childServiceGroup; let m = index">
                    <ion-grid>
                      <ion-row>
                        <ion-col col-4></ion-col>
                        <ion-col col-8>
                          <div *ngIf="L5.childServiceGroup;else L5_no_children">
                            <ion-item-divider color="Teal">
                              <h3>{{ L5.name }}</h3>
                              <ion-icon color="white" item-left [name]="isL1GroupShown(i) ? 'close-circle' : 'add-circle'"></ion-icon>
                            </ion-item-divider>
                          </div>
                          <ng-template #L5_no_children>
                            <ion-item-divider color="Teal" (click)="getMeetingsByArea(L5.id, L5.name)">
                              <h3>{{ L5.name }}</h3>
                              <ion-icon color="white" item-left name="arrow-dropright-circle"></ion-icon>
                            </ion-item-divider>
                          </ng-template>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="HTMLGrouping == 'meetings'">
    <div *ngFor="let group1 of meetingListArea; let i = index" (click)="toggleDay(i)" [ngClass]="{active: isDayShown(i)}">
      <ion-item-divider [color]="isToday(group1[0].weekday_tinyint) ? 'today' : 'dark'">
        <div ngSwitch="{{ group1[0].weekday_tinyint }}">
          <div *ngSwitchCase="'1'">
            <h3>{{'SUNDAY' | translate}} ({{sunCount}})</h3></div>
          <div *ngSwitchCase="'2'">
            <h3>{{'MONDAY' | translate}} ({{monCount}})</h3></div>
          <div *ngSwitchCase="'3'">
            <h3>{{'TUESDAY' | translate}} ({{tueCount}})</h3></div>
          <div *ngSwitchCase="'4'">
            <h3>{{'WEDNESDAY' | translate}} ({{wedCount}})</h3></div>
          <div *ngSwitchCase="'5'">
            <h3>{{'THURSDAY' | translate}} ({{thuCount}})</h3></div>
          <div *ngSwitchCase="'6'">
            <h3>{{'FRIDAY' | translate}} ({{friCount}})</h3></div>
          <div *ngSwitchCase="'7'">
            <h3>{{'SATURDAY' | translate}} ({{satCount}})</h3></div>
          <div *ngSwitchDefault>Nothing Found.</div>
        </div>
        <ion-icon color="white" item-left [name]="isDayShown(i) ? 'close-circle' : 'add-circle'"></ion-icon>
      </ion-item-divider>
      <div *ngIf="isDayShown(i)">
        <ion-list *ngFor="let group2 of group1; let j = index">
          <ion-card text-wrap>
            <ion-card-header>
              <div ngSwitch="{{ group2.weekday_tinyint }}">
                <div *ngSwitchCase="'1'" [ngClass]="'one'">
                  <ion-badge color="Green"><b>{{'SUNDAY' | translate}}   {{ group2.start_time_set  }} </b></ion-badge>
                </div>
                <div *ngSwitchCase="'2'" [ngClass]="'one'">
                  <ion-badge color="Teal"><b>{{'MONDAY' | translate}}   {{ group2.start_time_set }} </b></ion-badge>
                </div>
                <div *ngSwitchCase="'3'" [ngClass]="'one'">
                  <ion-badge color="Lime"><b>{{'TUESDAY' | translate}}   {{ group2.start_time_set }} </b></ion-badge>
                </div>
                <div *ngSwitchCase="'4'" [ngClass]="'one'">
                  <ion-badge color="Purple"><b>{{'WEDNESDAY' | translate}}   {{ group2.start_time_set }} </b></ion-badge>
                </div>
                <div *ngSwitchCase="'5'" [ngClass]="'one'">
                  <ion-badge color="Brown"><b>{{'THURSDAY' | translate}}   {{ group2.start_time_set }} </b></ion-badge>
                </div>
                <div *ngSwitchCase="'6'" [ngClass]="'one'">
                  <ion-badge color="Pink"><b>{{'FRIDAY' | translate}}   {{ group2.start_time_set }} </b></ion-badge>
                </div>
                <div *ngSwitchCase="'7'" [ngClass]="'one'">
                  <ion-badge color="Orange"><b>{{'SATURDAY' | translate}}   {{ group2.start_time_set  }} </b></ion-badge>
                </div>

                <div *ngSwitchDefault>Nothing Found.</div>
              </div>
            </ion-card-header>
            <ion-card-content>
              <ion-grid>
                <ion-row>
                  <ion-col col-10>
                    <h1>{{group2.meeting_name}}</h1>
                    <div *ngIf="group2.location_text">{{group2.location_text}}<br></div>
                    <div *ngIf="group2.location_street">{{group2.location_street}}<br></div>
                    <div *ngIf="group2.location_city_subsection">{{group2.location_city_subsection}}<br></div>
                    <div *ngIf="group2.location_neighbourhood">{{group2.location_neighbourhood}}<br></div>
                    <div *ngIf="group2.location_municipality">{{group2.location_municipality}}<br></div>
                    <div *ngIf="group2.location_sub_province">{{group2.location_sub_province}}<br></div>
                    <div *ngIf="group2.location_province">{{group2.location_province}}<br></div>
                    <div *ngIf="group2.location_code_1">{{group2.location_code_1}}<br></div>
                    <div *ngIf="group2.location_info">{{group2.location_info}}<br></div>
                    <div *ngIf="group2.comments">{{group2.comments}}<br></div>
                    <div *ngIf="group2.contact_phone_1">{{group2.contact_phone_1 | tidyDelimter }}<br></div>
                    <div *ngIf="group2.contact_email_1">{{group2.contact_email_1 | tidyDelimter }}<br></div>
                    <div *ngIf="group2.train_lines">{{'TRAIN' | translate}}: {{group2.train_lines | tidyDelimter }}<br></div>
                    <div *ngIf="group2.bus_lines">{{'BUS' | translate}}: {{group2.bus_lines | tidyDelimter }}<br></div>
                    <div *ngIf="group2.formats"><i>{{'FORMATS' | translate}}: {{group2.formats | tidyDelimter }}</i><br></div>
                  </ion-col>
                  <ion-col>
                    <button ion-button (click)="openMapsLink(group2.latitude , group2.longitude)"><ion-icon name="map"> </ion-icon>&nbsp;{{'MAP' | translate}}</button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-list>
      </div>
    </div>
  </div>
</ion-content>
