<ion-header>
  <ion-navbar color="danger">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{'GOOGLE_MAPS' | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <agm-map  [fitBounds]="mapBounds"
    [latitude]="latitude"
    [longitude]="longitude"
    [zoom]="zoom"
    [disableDefaultUI]="false"
    [zoomControl]="true"
    (mapReady)="mapReady($event)">

    <button ion-button color="danger" id="LocationButton" (click)="locatePhone()">
         <ion-icon name="locate">&nbsp;Locate</ion-icon>
    </button>

    <ion-range id="RadiusRange" min="1" max="100" [(ngModel)]="radius" (ionBlur)="circleRadiusChange()"  color="danger" pin="true">
      <ion-label range-left>1 km</ion-label>
      <ion-label range-right>100 km</ion-label>
    </ion-range>

      <agm-marker-cluster [maxZoom]="18" imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">
  <!--      <agm-marker-spider [keepSpiderfied]="true" (format)="testEvent('format', $event)"
                     (spiderfy)="testEvent('spiderfy', $event)" (unspiderfy)="testEvent('unspiderfy', $event)">  !-->

        <agm-marker
          *ngFor="let marker of meetingList "
          [latitude]="marker.latitude"
          [longitude]="marker.longitude"
          [iconUrl]="'assets/img/marker-na.png'" >
  <!--        (markerClick)="testEvent('markerClick', $event)">  !-->
          <agm-info-window>
            <h1>{{marker.meeting_name}}</h1>
            <p><b>{{marker.weekday_tinyint}}  {{marker.start_time}}</b></p>
            <div *ngIf="marker.location_text ">{{marker.location_text}}<br></div>
            <div *ngIf="marker.location_street ">{{marker.location_street}}<br></div>
            <div *ngIf="marker.location_city_subsection ">{{marker.location_city_subsection}}<br></div>
            <div *ngIf="marker.location_neighbourhood ">{{marker.location_neighbourhood}}<br></div>
            <div *ngIf="marker.location_municipality ">{{marker.location_municipality}}<br></div>
            <div *ngIf="marker.location_sub_province ">{{marker.location_sub_province}}<br></div>
            <div *ngIf="marker.location_province ">{{marker.location_province}}<br></div>
            <div *ngIf="marker.location_code_1 ">{{marker.location_code_1}}<br></div>
            <div *ngIf="marker.location_info ">{{marker.location_info}}<br></div>
            <div *ngIf="marker.comments ">{{marker.comments}}<br></div>
            <div *ngIf="marker.contact_phone_1 ">{{marker.contact_phone_1 | tidyDelimter }}<br></div>
            <div *ngIf="marker.contact_email_1 ">{{marker.contact_email_1 | tidyDelimter }}<br></div>
            <div *ngIf="marker.train_lines ">Train: {{marker.train_lines | tidyDelimter }}<br></div>
            <div *ngIf="marker.bus_lines ">Bus: {{marker.bus_lines | tidyDelimter }}<br></div>
            <button ion-button small (click)="openMapsLink(marker.latitude , marker.longitude)"><ion-icon name="map"></ion-icon>&nbsp;Map</button>
          </agm-info-window>
        </agm-marker>

  <!--      </agm-marker-spider>  !-->
      </agm-marker-cluster>

    <agm-circle #circle
      [latitude]="latitude"
      [longitude]="longitude"
      [radius]="radiusMeters"
      [strokeOpacity]="1"
      [strokePosition]="0"
      [strokeWeight]="2"
      [strokeColor]="'#706bd6'"
      [fillColor]="'red'"
      [fillOpacity]="0.2"
      [circleDraggable]="true"
      [editable]="false"
      (dragEnd)="circleDragEnd($event)"
      (radiusChange)="circleRadiusChange($event)">
    </agm-circle>

  </agm-map>

</ion-content>
