.sebm-google-map-container {
	width: 100%;
	height: 100%;
}



ion-range#RadiusRange {
	/* z-index: 0; */
	position: relative !important;
	top: 0px;
	left: 0px !important;
	background:rgba(56,126,245, 0.9) !important;
	color:#fff;

}
