<ion-header>
  <ion-navbar color="danger">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <ion-title>{{'LOCATIONSEARCH' | translate}}</ion-title>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <br>
  <div class="row">
    <div class="col"></div>
    <button ion-button color="danger" id="LocationButton" (click)="locatePhone()" class="col text-center text-wrap">
         <ion-icon name="locate">&nbsp;Update location</ion-icon>
    </button>
    <div class="col"></div>
  </div>
  <div ngSwitch="{{ currentAddress }}">
    <div *ngSwitchCase="''"></div>
    <div *ngSwitchCase="'Location not found'" [ngClass]="'one'">
      <ion-item text-wrap><b>Location not set</b></ion-item>
    </div>
    <div *ngSwitchDefault>
      <ion-item text-wrap><b>Meetings nearest {{ currentAddress }}</b></ion-item>
      <ion-range id="RadiusRange" min="1" max="25" [(ngModel)]="radius" (ionBlur)="getAllMeetings()" color="danger" pin="true">
        <ion-label range-left>1 meeting</ion-label>
        <ion-label range-right>25 meetings</ion-label>
      </ion-range>
      <ion-list>
        <ion-item>
          <ion-label>Group By</ion-label>
          <ion-select [(ngModel)]="HTMLGrouping">
            <ion-option value="area" selected="true">Service Committee</ion-option>
            <ion-option value="county">County/Sub-Province</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <div *ngIf="HTMLGrouping == 'area'">
        <div *ngFor="let group1 of meetingListArea; let i = index" (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}">
          <ion-item-divider color="dark">
            <h3>{{ group1[0].service_body_bigint }}</h3>
            <ion-icon color="success" item-right [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
          </ion-item-divider>
          <div *ngIf="isGroupShown(i)">
            <ion-list *ngFor="let group2 of group1; let j = index">
              <ion-card text-wrap>
                <ion-card-header>
                  <div ngSwitch="{{ group2.weekday_tinyint }}">
                    <div *ngSwitchCase="'1'" [ngClass]="'one'">
                      <ion-badge color="Green"><b>Sunday   {{ group2.start_time | slice:0:5 }} </b></ion-badge>
                    </div>
                    <div *ngSwitchCase="'2'" [ngClass]="'one'">
                      <ion-badge color="Teal"><b>Monday   {{ group2.start_time | slice:0:5 }} </b></ion-badge>
                    </div>
                    <div *ngSwitchCase="'3'" [ngClass]="'one'">
                      <ion-badge color="Lime"><b>Tuesday   {{ group2.start_time | slice:0:5 }} </b></ion-badge>
                    </div>
                    <div *ngSwitchCase="'4'" [ngClass]="'one'">
                      <ion-badge color="Purple"><b>Wednesday   {{ group2.start_time | slice:0:5 }} </b></ion-badge>
                    </div>
                    <div *ngSwitchCase="'5'" [ngClass]="'one'">
                      <ion-badge color="Brown"><b>Thursdy   {{ group2.start_time | slice:0:5 }} </b></ion-badge>
                    </div>
                    <div *ngSwitchCase="'6'" [ngClass]="'one'">
                      <ion-badge color="Pink"><b>Friday   {{ group2.start_time | slice:0:5 }} </b></ion-badge>
                    </div>
                    <div *ngSwitchCase="'7'" [ngClass]="'one'">
                      <ion-badge color="Orange"><b>Saturday   {{ group2.start_time | slice:0:5 }} </b></ion-badge>
                    </div>
                    <div *ngSwitchDefault>Nothing Found.</div>
                  </div>
                </ion-card-header>
                <ion-card-content>
                  <ion-grid>
                    <ion-row>
                      <ion-col col-10>
                        <h1>{{group2.meeting_name}}</h1>
                        <div *ngIf="group2.location_text">{{group2.location_text}}<br></div>
                        <div *ngIf="group2.location_street">{{group2.location_street}}<br></div>
                        <div *ngIf="group2.location_city_subsection">{{group2.location_city_subsection}}<br></div>
                        <div *ngIf="group2.location_neighbourhood">{{group2.location_neighbourhood}}<br></div>
                        <div *ngIf="group2.location_municipality">{{group2.location_municipality}}<br></div>
                        <div *ngIf="group2.location_sub_province">{{group2.location_sub_province}}<br></div>
                        <div *ngIf="group2.location_province">{{group2.location_province}}<br></div>
                        <div *ngIf="group2.location_code_1">{{group2.location_code_1}}<br></div>
                        <div *ngIf="group2.location_info">{{group2.location_info}}<br></div>
                        <div *ngIf="group2.comments">{{group2.comments}}<br></div>
                        <div *ngIf="group2.contact_phone_1">{{group2.contact_phone_1 | tidyDelimter }}<br></div>
                        <div *ngIf="group2.contact_email_1">{{group2.contact_email_1 | tidyDelimter }}<br></div>
                        <div *ngIf="group2.train_lines">{{group2.train_lines | tidyDelimter }}<br></div>
                        <div *ngIf="group2.bus_lines">{{group2.bus_lines | tidyDelimter }}<br></div>
                        <div *ngIf="group2.formats"><i>Formati: {{group2.formats | tidyDelimter }}</i><br></div>
                      </ion-col>
                      <ion-col>
                        <button ion-button (click)="openMapsLink(group2.latitude , group2.longitude)"><ion-icon name="map"> </ion-icon>&nbsp;Map</button>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card-content>
              </ion-card>
            </ion-list>
          </div>
        </div>
      </div>
      <div *ngIf="HTMLGrouping == 'county'">
        <div *ngFor="let group1 of meetingListCity; let i = index" (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}">
          <ion-item-divider color="dark">
            <h3>{{ group1[0].location_sub_province }}</h3>
            <ion-icon color="success" item-right [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
          </ion-item-divider>
          <div *ngIf="isGroupShown(i)">
            <ion-list *ngFor="let group2 of group1; let j = index">
              <ion-card text-wrap>
                <ion-card-header>
                  <div ngSwitch="{{ group2.weekday_tinyint }}">
                    <div *ngSwitchCase="'1'" [ngClass]="'one'">
                      <ion-badge color="Green"><b>Sunday   {{ group2.start_time | slice:0:5 }} </b></ion-badge>
                    </div>
                    <div *ngSwitchCase="'2'" [ngClass]="'one'">
                      <ion-badge color="Teal"><b>Monday   {{ group2.start_time | slice:0:5 }} </b></ion-badge>
                    </div>
                    <div *ngSwitchCase="'3'" [ngClass]="'one'">
                      <ion-badge color="Lime"><b>Tuesday   {{ group2.start_time | slice:0:5 }} </b></ion-badge>
                    </div>
                    <div *ngSwitchCase="'4'" [ngClass]="'one'">
                      <ion-badge color="Purple"><b>Wednesday   {{ group2.start_time | slice:0:5 }} </b></ion-badge>
                    </div>
                    <div *ngSwitchCase="'5'" [ngClass]="'one'">
                      <ion-badge color="Brown"><b>Thursday   {{ group2.start_time | slice:0:5 }} </b></ion-badge>
                    </div>
                    <div *ngSwitchCase="'6'" [ngClass]="'one'">
                      <ion-badge color="Pink"><b>Friday   {{ group2.start_time | slice:0:5 }} </b></ion-badge>
                    </div>
                    <div *ngSwitchCase="'7'" [ngClass]="'one'">
                      <ion-badge color="Orange"><b>Saturday   {{ group2.start_time | slice:0:5 }} </b></ion-badge>
                    </div>
                    <div *ngSwitchDefault>Nothing Found.</div>
                  </div>
                </ion-card-header>
                <ion-card-content>
                  <ion-grid>
                    <ion-row>
                      <ion-col col-10>
                        <h1>{{group2.meeting_name}}</h1>
                        <div *ngIf="group2.location_text">{{group2.location_text}}<br></div>
                        <div *ngIf="group2.location_street">{{group2.location_street}}<br></div>
                        <div *ngIf="group2.location_city_subsection">{{group2.location_city_subsection}}<br></div>
                        <div *ngIf="group2.location_neighbourhood">{{group2.location_neighbourhood}}<br></div>
                        <div *ngIf="group2.location_municipality">{{group2.location_municipality}}<br></div>
                        <div *ngIf="group2.location_sub_province">{{group2.location_sub_province}}<br></div>
                        <div *ngIf="group2.location_province">{{group2.location_province}}<br></div>
                        <div *ngIf="group2.location_code_1">{{group2.location_code_1}}<br></div>
                        <div *ngIf="group2.location_info">{{group2.location_info}}<br></div>
                        <div *ngIf="group2.comments">{{group2.comments}}<br></div>
                        <div *ngIf="group2.contact_phone_1">{{group2.contact_phone_1 | tidyDelimter }}<br></div>
                        <div *ngIf="group2.contact_email_1">{{group2.contact_email_1 | tidyDelimter }}<br></div>
                        <div *ngIf="group2.train_lines">{{group2.train_lines | tidyDelimter }}<br></div>
                        <div *ngIf="group2.bus_lines">{{group2.bus_lines | tidyDelimter }}<br></div>
                        <div *ngIf="group2.formats"><i>Formati: {{group2.formats | tidyDelimter }}</i><br></div>
                      </ion-col>
                      <ion-col>
                        <button ion-button (click)="openMapsLink(group2.latitude , group2.longitude)"><ion-icon name="map"> </ion-icon>&nbsp;Map</button>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card-content>
              </ion-card>
            </ion-list>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
